// import base - contains global styles, such as resets, typography, colors
#visual-summary-content-mount {
    @import "vendor/react-table";
    // preset loader until data loads on first page load
    .preset-loader {
        margin: 5% auto;
    }
    // so that the page has some empty space to begin with and doesnt
    // trigger page scrolling when switching tabs
    min-height: 500px;

    .DateRangePickerInput__withBorder {
        border: none !important;
    }

    // import components- contains each self-contained component in its own .scss partial
    @import "components/radioButton";
    @import "components/graphPanel";
    @import "components/infoPanel/infoPanel";
    @import "components/filterPanel";
    @import "components/statcard";
    @import "components/tooltip";
    @import "components/dashboard/residentDashboard";
    @import "components/dashboard/normativeDashboard";
    // import pages contains page-specific styling
    @import "pages/dashboard";

    .score-cell .popover {
        color: black !important;
        box-sizing: content-box;

        .popover-content + div {
            box-sizing: content-box;
        }
        .popover-title {
            margin: 0;
            padding: 8px 14px;
            font-size: 14px;
            font-weight: normal;
            line-height: 18px;
            background-color: #f7f7f7;
            border-bottom: 1px solid #ebebeb;
            -webkit-border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
        }
    }

    /*============================================================*/
    /*  EPA Progress                                              */
    /*============================================================*/
    /* EPA Block Colors */

    .objective-progress-popover .achieved-color {
        background-color: #14bc46;
        background-image: none;
        border-bottom: none;
        color: #ffffff;
    }

    .objective-progress-popover .in-progress-color {
        background-color: #ffffff;
        background-image: none;
        border-bottom: none;
    }

    .objective-progress-popover .above-half-progress-color {
        background-color: #0083cd;
        background-image: none;
        border-bottom: none;
        color: #ffffff;
    }

    .objective-progress-popover .below-half-progress-color {
        background-color: #ffc700;
        background-image: none;
        border-bottom: none;
    }

    .objective-progress-popover .no-progress-color {
        background-color: #ff004e;
        background-image: none;
        border-bottom: none;
        color: #ffffff;
    }

    .not-started-color {
        background-color: #f3f7fa;
        background-image: none;
        border-bottom: none;
        color: #919ca5;
    }

    .not-started-color a {
        color: #919ca5;
    }

    .not-started-color:hover,
    .not-started-color.active {
        background-color: #dee0e5;
    }

    .achieved-color span.fa,
    .above-half-progress-color span.fa,
    .below-half-progress-color span.fa,
    .no-progress-color span.fa {
        color: #eeeeee;
    }

    /** Popover */
    .objective-progress-popover {
        min-height: 100px;
        width: 450px;
        max-width: 450px;
    }

    .objective-progress-popover h2 {
        margin-top: 0;
        font-size: 20px;
        font-weight: normal;
        color: #f07f2c;
    }

    .objective-progress-popover .close {
        font-size: 20px;
        line-height: 17px;
    }

    .objective-progress-popover .popover-content {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 5px;
        height: auto;
    }

    .objective-progress-popover ul {
        margin-bottom: 10px;
    }

    .objective-progress-popover ul li {
        min-height: 20px !important;
    }

    /** Toggle **/
    .switch {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 28px;
    }

    .switch input[type="checkbox"] {
        position: absolute;
        left: -9999px;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        left: 0;
        right: 0;
        background-color: #cccccc;
        transition: 0.6s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 21px;
        width: 21px;
        left: 4px;
        bottom: 4px;
        background-color: #ffffff;
        transition: 0.6s;
    }

    input:checked + .slider {
        background-color: #ff004e;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #eeeeee;
    }

    input:checked + .slider:before {
        transform: translateX(120px);
    }

    .slider {
        color: #ffffff;
        line-height: 28px;
        font-weight: bold;
        border-radius: 34px;
    }

    .slider:before {
        border-radius: 50%;
    }
}
