// import base - contains global styles, such as resets, typography, colors
#visual-summary-content-mount {
    @import "vendor/react-table";
    // preset loader until data loads on first page load
    .preset-loader {
        margin: 5% auto;
    }
    // so that the page has some empty space to begin with and doesnt
    // trigger page scrolling when switching tabs
    min-height: 500px;

    .DateRangePickerInput__withBorder {
        border: none !important;
    }

    // common react tooltip styling
    .custom-react-tooltip {
        width: 350px;
        text-transform: none !important;
    }
    // common react tooltip trigger styling
    .instant-tooltip-trigger {
        margin: 0px 10px;
        font-size: 16px;
    }

    // import components- contains each self-contained component in its own .scss partial
    @import "components/radioButton";
    @import "components/graphPanel";
    @import "components/objectivePopover";
    @import "components/infoPanel/infoPanel";
    @import "components/filterPanel";
    @import "components/statcard";
    @import "components/tooltip";
    @import "components/facultyPie";
    @import "components/dashboard/residentDashboard";
    @import "components/dashboard/normativeDashboard";
    @import "components/dashboard/supervisorDashboard";
    @import "components/dashboard/programDashboard";
    // import pages contains page-specific styling
    @import "pages/dashboard";
}

.year-selection-box {
    z-index: 100;
    display: inline-block;

    .header {
        display: inline-block;
        margin-right: 20px;
    }
    .react-select-root {
        width: 225px;
        display: inline-block;
        & > div:first-child {
            z-index: 100;
        }
    }
    margin-right: 30px;
}

.rotation-upload-wrapper {

    .upload-file-container {
        margin-top: 15px;
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .icon {
            padding-left: 10px;
        }

        p.upload-text {
            background: #e0e7ed;
            padding: 10px;
            margin-right: 10px !important;
            display: inline-block;
            border-radius: 2px;
        }
        label {
            vertical-align: inherit;
            padding: 3px 10px;
        }
    }

    .fa-spinner {
        margin-left: 10px;
    }

    h4 {
        display: inline-block;
        margin: 0px 15px 0px 0px;
        font-size: 15px !important;
    }
}
