.admin-root {
    .nav-pills {
        a {
            font-size: 15px;
            margin: 12px;
            cursor: pointer;
        }
    }
    .admin-inner-container {
        .input-group {
            z-index: 0;
        }
        .input-group>select.custom-select {
            width: 250px !important;
        }
        .username-select {
            z-index: 50;
            .inner-span {
                display: inline-block;
            }
            .react-select-root {
                width: 250px;
                display: inline-block;
                z-index: 50;
            }
        }
        .graduated-box {
            margin-bottom: -15px;
            .banner {
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                margin: 30px 0px -10px 20px;
            }
        }
        .academic-box {
            margin-top: 40px;
            .banner {
                display: block;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
            }
            .academic-inner {
                display: inline-block;
                margin-left: 20px;
                .rotation-span {
                    vertical-align: top;
                    padding-top: 5px;
                }
                .rotation-root {
                    display: inline-table;
                    width: 400px;
                    .slot-set {
                        display: inline-block;
                        margin: 5px 0px;
                        .slot-label {
                            text-align: center;
                            display: block;
                            text-transform: uppercase;
                        }
                        .rotation-select {
                            width: 100px;
                        }
                    }
                }
                .input-group {
                    margin: 10px 0px 15px 0px;
                }
                .extra-wide {
                    width: 400px;
                }
            }
        }
    }
    #programStartDate,
    #modify-programStartDate {
        width: 210px;
        border-radius: 0px 4px 4px 0px;
    }
    .promoted-container {
        .inner-span {
            text-transform: uppercase;
        }
        .program-start-date {
            width: 210px;
            border-radius: 0px 4px 4px 0px;
        }
    }
    .loader-modify {
        margin: 50px auto;
    }
    .inner-span {
        display: table-cell;
        padding-right: 10px;
        width: 200px;
        vertical-align: middle;
    }
    .form-control {
        width: 250px;
        border-radius: 4px;
    }
    .create-btn {
        margin: 0px auto 20px auto;
        font-size: 16px;
        display: block;
    }
    .create-btn {
        line-height: 25px;
        .create-span {
            vertical-align: top;
            &+div {
                margin-left: 10px;
                vertical-align: top;
                display: inline-block;
            }
        }
    }
    .modify-user-container,
    .add-data-root {
        .create-btn {
            display: inline-block;
        }
    }
    .add-data-form {
        .inner-span {
            font-size: 14px;
            width: 245px;
        }
    }
    .add-data-root {
        .radio-button-container {
            .track-radio {
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 0px;
            }
        }
    }
}