.dashboard-root {
    .loading-spinner {
        margin: 100px auto;
    }
    .filter-panel {
        .filter-label {
            margin-right: 20px;
            font-size: 16px;
            font-weight: normal;
        }
        .checkbox {
            display: inline-block;
        }
        .input-group {
            display: inline-table;
            vertical-align: middle;
            input {
                width: 120px;
            }
        }
        .filter-button {
            font-size: 16px;
            font-weight: bold;
            div.filter-loader {
                margin-left: 10px;
                vertical-align: top;
                display: inline-block;
            }
        }
    }
}