.dashboard-page-root {
    .hr-divider {
        .nav-pills {
            a {
                font-size: 15px;
                padding: 10px 30px;
                margin: 10px;
                font-weight: bold !important;
                cursor: pointer;
            }
            @media (max-width: 768px) {
                li {
                    float: none;
                }
            }
        }
        margin:40px 30px;
    }
    p.info-text {
        font-size: 1.10em;
        margin: 15px;
    }
    .text-capitalize {
        text-transform: capitalize;
    }
}