.program-compare-root {
    .filter-switch-container {
        display: inline-block;
        vertical-align: bottom;
        .switch-label {
            font-size: 18px;
            font-weight: bold;
            vertical-align: text-bottom;
        }
        .switch-inner {
            display: inline-block;
            margin-left: 10px;
        }
    }
    .multi-selection-box {
        z-index: 100;
        display: inline-block;
        .react-select-root {
            width: 200px;
            display: inline-block;
            & > div:first-child {
                z-index: 100;
            }
        }
        margin-right: 30px;
    }
    .header {
        display: inline-block;
        font-size: 18px;
        margin: 10px auto;
        margin-right: 15px;
        font-weight: bold;
    }
    .loading-spinner {
        margin: 100px auto;
    }
    .program-part-container {
        display: inline-block;
        margin: 10px;
        vertical-align: top;

        .chart-container {
            border-radius: 6px;
            background: white;
        }
    }
    .program-name-container {
        display: inline-block;
        margin-right: 10px;
        width: 150px;
        vertical-align: top;
        margin-top: 10px;
        p {
            height: 42px;
            margin-bottom: 0px;
            padding-top: 15px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
        }
    }
    .compare-monthly-container {
        padding: 5px 0px 25px 0px;
        margin: 10px 4%;
        border-radius: 5px;
        h3 {
            margin: 2px 10px 15px 10px;
            font-size: 1.35em;
            color: black;
        }
        .overall-wrapper {
            background: white;
            .compare-monthly-box {
                padding: 20px 0px 5px 25px;
                width: 400px;
                display: inline-block;
            }
        }
    }
    .hr-divider-content {
        color: white;
        margin-bottom: 15px;
        font-size: 1.4em;
    }

    .specific-program-chart {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        border-radius: 6px;
        background: white;
        padding: 15px;

        .divider-line {
            stroke: darkgrey;
        }

        text {
            fill: darkgray !important;
        }

        line {
            stroke: darkgray !important;
        }
    }

    .stage-label-wrapper {
        margin: 10px;
        span {
            color: black;
            margin: 5px 10px;
            text-transform: capitalize;
        }
    }

    .completion-rate-chart {
        padding: 1em;
        display: inline-flex;
        flex-direction: column;
        vertical-align: top;

        .completion-rate-label {
            color: black;
            margin: 5px 0px 5px 0px;
        }

        .program-rate-wrapper {
            display: flex;
            flex: 1;
            cursor: pointer;
            padding: 2px 2.5px 2px 2px;
            border-radius: 25px;

            &.selected,
            &:hover {
                background: #6f6f6f;
                .program-rate-label {
                    color: white;
                }
            }

            .program-rate-label {
                flex-basis: 105px;
                color: #666666;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 5px;
                text-align: right;
            }

            .program-rate-inner-wrapper {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;

                .stage-label {
                    flex-grow: 1;
                    flex-basis: 0;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-radius: 30px 30px 30px 30px;
                    margin-bottom: 1px;
                    margin-top: 1px;
                    margin-right: 2px;
                    font-weight: bolder;

                    b {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.graph-tooltip {
    position: absolute;
    background: #040404c2;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 10px;
    z-index: 100;
    color: white;
    font-weight: bolder;
    span {
        white-space: pre-wrap;
    }
}

.color-legend-wrapper {
    display: flex;
    flex: 1;
    padding: 15px 0px 10px 0px;

    .color-unit {
        flex-grow: 1;
        height: 20px;
        margin-top: 10px;
    }

    .legend-label {
        width: 100px;
        color: black;
        font-weight: bolder;
    }
}

.specific-program-chart {
    .color-legend-wrapper {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -15px;

        .inner-color-wrapper {
            display: flex;
            flex: 1;

            .color-unit {
                flex-grow: 1;
                height: 20px;
                margin-top: 10px;
            }
        }
        .inner-label-wrapper {
            display: flex;
            flex: 1;
            span {
                flex-grow: 1;
                margin-top: 10px;
                color: #929191;
                font-weight: bolder;
                text-transform: capitalize;
            }
        }
    }
}
