.program-compare-root {
    .filter-switch-container {
        display: inline-block;
        vertical-align: bottom;
        .switch-label {
            font-size: 18px;
            font-weight: bold;
            vertical-align: text-bottom;
        }
        .switch-inner {
            display: inline-block;
            margin-left: 10px;
        }
    }
    .year-selection-box {
        display: inline-block;
        .react-select-root {
            width: 200px;
            display: inline-block;
            &>div:first-child {
                z-index: 100;
            }
        }
        margin-right: 30px;
    }
    .header {
        display: inline-block;
        font-size: 18px;
        margin: 10px auto;
        margin-right: 15px;
        font-weight: bold;
    }
    .loading-spinner {
        margin: 100px auto;
    }
    .program-part-container {
        display: inline-block;
        border-radius: 6px;
        background: white;
        margin: 10px;
        .chart-title {
            height: 50px;
            margin-bottom: 5px;
            padding-top: 15px;
            margin: 0px;
            background: #25282f;
            font-size: 16px;
            text-align: center;
        }
        .switch-container {
            float: right;
            background: #1a1c22;
            padding: 5px 5px;
            margin-left: 5px;
            border-radius: 10px;
            margin-top: -7px;
            .switch-inner {
                display: inline-block;
                vertical-align: middle;
                height: 24px;
                margin-right: 5px;
            }
        }
    }
    .program-name-container {
        display: inline-block;
        margin-right: 10px;
        width: 150px;
        vertical-align: top;
        margin-top: 20px;
        p {
            height: 50px;
            margin-bottom: 0px;
            padding-top: 15px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .compare-monthly-container {
        background: #1a1c22;
        padding: 5px 0px 25px 0px;
        margin: 10px 4%;
        border-radius: 5px;
        h3 {
            margin: 10px 10px 15px 10px;
        }
        .overall-wrapper {
            background: white;
            .compare-monthly-box {
                padding: 20px 0px 5px 25px;
                width: 400px;
                display: inline-block;
            }
        }
    }
}