.epaSpeedBox {
    .statcard-root {
        float: none;
        display: inline-block;
        .statcard {
            min-height: 132px;
        }
        @media (max-width: 480px) {
            display: block;
        }
    }
    .resident-weekly-graph {
        background: white;
        display: inline-block;
        padding: 0px 10px;
        vertical-align: top;
    }
    .card-wrapper {
        display: inline-block;
        vertical-align: top;
        margin: 0px 20px;
    }
}