.cite-exam-score-container {
    display: inline-block;
    position: relative;
    .hr-divider {
        margin-bottom: 20px !important;
    }
    .recent-range-selection {
        position: absolute;
        right: 0px;
        top: 36px;
        @media (max-width: 768px) {
            position: static;
            margin-bottom: 15px;
            margin-top: -15px;
        }
        .filter-label,
        #academic-year-dropdown {
            margin-right: 10px;
        }
        .btn {
            padding: 3px 7px;
            margin-right: 5px;
        }
    }
    .cite-svg {
        margin: 0px auto;
        background: white;
        .score-spark-line {
            fill: none;
            stroke: #4682b4;
            stroke-width: 3;
        }
        .cite-score-point {
            fill: #1ca8dd;
        }
        .cite-score-text,
        .cite-year-label {
            font-weight: bold;
            font-family: sans-serif;
        }
        .no-data-banner {
            fill: #1ca8dd;
            font-size: 20px;
            font-weight: bold;
        }
        .no-event-item {
            pointer-events: none;
        }
        .oral-point,
        .oral-text {
            cursor: pointer;
        }
    }
}