.feedback-block {
    display: inline-block;
    position: relative;
    .edit-feedback-button {
        position: absolute;
        top: 37px;
        padding: 4px 10px;
        font-weight: bold;
        right: 2.5px;
    }
    .recent-svg {
        margin: 0px auto;
        background: white;
        .feedback-label-y {
            font-weight: bold;
            fill: #283a5d;
            text-transform: uppercase;
            font-size: 0.90em;
        }
        .feedback-label-x {
            fill: white;
            font-weight: bold;
        }
        .feedback-label-x-circle {
            fill: #1ca8dd;
        }
        .score-spark-line {
            fill: none;
            stroke: #1997c6;
            stroke-width: 2px;
        }
        .score-point {
            cursor: pointer;
        }
        .promoted-track {
            stroke: #e64759;
            stroke-dasharray: 9;
            stroke-width: 3px;
            stroke-dashoffset: 1;
        }
        .promoted-label {
            font-weight: bold;
            fill: #e64759;
        }
    }
    .no-data-banner {
        fill: #1ca8dd;
        font-size: 20px;
        font-weight: bold;
    }
}