@import 'epaSpeedInfo';
@import 'examScore';
@import 'recentEPATrend';
@import 'rotationSchedule';
@import 'rotationSchedule';
@import 'feedbackPanel';
// Import sub components then add in base level styling
.info-panel {
    background: #1a1c22;
    margin: 30px 30px 20px 30px;
    margin-top: 0px !important;
    border-radius: 5px;
    @media (max-width: 768px) {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .info-panel-inner {
        margin: 20px;
        padding: 20px;
        .titular-block {
            text-align: center;
            span {
                display: inline-block;
                margin: 10px;
                text-transform: uppercase;
                font-size: 17px;
                @media (max-width: 768px) {
                    font-size: 13px;
                }
            }
        }
        .hr-divider {
            margin: 0px 30px 20px 30px;
            h4 {
                padding: 10px;
                margin-top: 12px;
                font-size: 15px;
                color: #cfd2da;
            }
        }
        .pullto-left {
            margin-left: 15px;
        }
    }
}