.supervisor-dashboard-container {
    .loading-spinner {
        margin: 100px auto;
    }
    // filter panel related styling
    .faculty-filter {
        .react-select-root {
            width: 330px;
            display: inline-block;
            .filter-label {
                &+div {
                    display: inline-block !important;
                    width: 250px;
                    z-index: 20;
                }
            }
        }
        .date-box {
            display: inline-block;
            width: 235px;
        }
        .advanced-filter-box {
            display: inline-block;
            width: inherit;
            padding: 10px 10px 10px 15px;
        }
    }
    .faculty-MicroStatCard-group {
        width: 725px;
        margin: 20px;
        display: inline-block;
    }
    .hr-divider {
        margin: 0px 30px !important;
    }
    .normative-table {
        display: inline-block;
        vertical-align: top;
        span.select-wrap {
            display: none;
        }
        .ReactTable .rt-thead.-headerGroups {
            background: #111316;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            .rt-th {
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                padding: 5px 0px;
                border-right: 1px solid rgba(255, 255, 255, 0.15);
            }
        }
    }
    .all-table-box {
        margin: 25px;
    }
    .faculty-graph-box {
        display: inline-block;
        margin: 20px auto;
        background: #1a1c22;
        padding: 10px 20px 20px 20px;
        border-radius: 5px;
    }
    .supervisor-line-chart {
        margin-top: 25px;
        g circle {
            cursor: pointer;
        }
        rect.hoverable-rectangle {
            cursor: pointer;
            &:hover {
                fill: #1ca8dd;
                opacity: 0.25;
            }
            &.faculty-rectangle {
                opacity: 0.85;
                fill: #1ca8dd;
            }
        }
        text.faculty-highlight-label {
            fill: #1ca8dd;
            font-size: 1.35em;
            opacity: 1;
        }
    }
}

.print-button {
    position: fixed;
    bottom: 75px;
    padding: 6px 12px;
    background: #095c81;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    right: 10px;
    &:hover {
        border: 2px solid white;
    }
}