.supervisor-dashboard-container {
    .loading-spinner {
        margin: 100px auto;
    }
    .filter-panel {
        #filter-observername {
            width: 250px;
            text-transform: capitalize;
        }
        .name-box {
            margin: 10px 5px 10px 20px;
        }
    }
    .table-box {
        margin: 20px;
        .feedback-cell,
        .epa-cell {
            white-space: normal;
            text-overflow: inherit;
            text-align: left;
        }
    }
}