.dashboard-page-root {
    .checklist-modal-root {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.85);
        z-index: 9999;
        .modal-main {
            position: fixed;
            background: #252830;
            width: auto;
            height: auto;
            top: 5%;
            left: 50%;
            transform: translate(-50%, 0%);
            padding: 12px 20px 12px 20px;
            border-radius: 5px;
            .close {
                color: black;
                background: white;
                border-radius: 10px;
                width: 20px;
                margin: -5px 0px;
            }
        }
        .loader-modify {
            margin: 50px auto;
        }
        .checklist-container {
            padding-top: 5px;
            min-width: 350px;
            width: 90%;
            margin: 10px auto;
            margin-bottom: 25px;
        }
        .hr-divider {
            .nav-pills {
                a {
                    font-size: 14.5px;
                    padding: 5px 15px;
                    margin: 10px;
                    font-weight: bold !important;
                    cursor: pointer;
                }
            }
            margin:15px 30px 5px 30px;
        }
        .minify {
            margin: 10px auto;
            text-align: justify;
            margin-bottom: -5px;
            font-size: 17px;
        }
        .new-task {
            outline: none;
            border: 0;
            border-radius: 15px;
            padding: 0 0 0px 15px;
            width: 100%;
            height: 50px;
            font-family: inherit;
            font-size: 1.65rem;
            font-weight: 300;
            margin-top: 15px;
            color: black;
            -webkit-font-smoothing: antialiased;
        }
        .new-task-editable {
            color: black;
            width: 100%;
            outline: none;
        }
        .tasklist-container {
            margin: 10px auto;
            max-height: 250px;
            overflow-y: scroll;
            padding: 0px 15px;
            .task-wrapper {
                display: flex;
                border-bottom: 1px dashed grey;
                margin-bottom: 10px;
                .task-item {
                    display: flex;
                    align-self: flex-start;
                    &.btn {
                        border-radius: 50% !important;
                        padding: 5px 10px;
                        margin-bottom: 7px;
                        outline: none !important;
                        &.edit {
                            margin-right: 5px;
                        }
                        &.checkbtn {
                            &:hover,
                            &:active,
                            &:focus {
                                color: #1997c6;
                                background-color: transparent;
                                border-color: #1997c6;
                            }
                            &.complete {
                                color: #ffffff !important;
                                background-color: #1997c6 !important;
                                box-shadow: none !important;
                            }
                        }
                    }
                }
                .task-label {
                    flex-grow: 2;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 3px;
                    &.complete {
                        text-decoration: line-through;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 12px;
                cursor: pointer;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                background-color: white;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                background-color: #1997c6;
            }
        }
    }
}