html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    #root {
        width: 100%;
        min-height: 100%;
        padding-bottom: 60px;
        position: relative;
        #app-container {
            min-height: 100%;
            .paws-loader {
                margin: 10% auto;
            }
            .footer {
                position: absolute;
                bottom: 0px;
                height: 50px;
                padding: 10px;
                background: #1a1c22;
                .footer-inner {
                    display: inline-block;
                    a {
                        font-size: 1.2em;
                        font-weight: bold;
                        color: #307691;
                    }
                }
            }
        }
        .inlay-icon {
            position: absolute;
            font-size: 25px;
            padding: 1px 7px;
        }
    }
    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // This is an onscreen banner that covers the page when pdf is being generated
    .on-screen-cover-banner {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #25282f;
        z-index: 500;
        top: 0%;
    }
}
