.faculty-pie-wrapper {
    display: inline-block;
    margin: 10px;
    width: 160px;
    height: 135px;
    overflow: hidden;
    vertical-align: top;
    background: #1a1c22;
    padding: 10px;
    border-radius: 5px;
    .pie-title {
        font-size: 85%;
        letter-spacing: .15em;
        color: rgba(255, 255, 255, 0.65);
        font-weight: normal;
        text-transform: uppercase;
    }
}