.upload-file-container {
    margin-top: 15px;
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .icon {
        padding-left: 10px;
    }
    .label-span {
        display: inline-block;
        margin: 0px 20px 0px 0px;
        text-transform: uppercase;
    }
    p {
        display: inline-block;
        margin-right: 10px;
        font-size: 15px;
        background: #434857;
        padding: 5px 36px 5px 12px;
        border-radius: 4px;
        margin: 0px 20px 0px 0px;
    }
    label {
        vertical-align: inherit;
        padding: 3px 10px;
    }
}