.filter-panel {
    margin: 30px 30px 20px 30px;
    .root-box {
        border-radius: 5px;
        background: #e2eff5;
        @media (max-width: 768px) {
            width: 100%;
            padding: 10px;
        }
        width: 535px;
    }
    .button-box {
        display: inline-block;
        margin: 10px;
        @media (max-width: 768px) {
            margin: 10px;
        }
    }
    .filter-button-container {
        display: inline-block;
        .btn-primary-outline.active-button {
            color: #ffffff;
            background-color: #1997c6;
            box-shadow: none;
        }
        .btn-primary-outline.not-active {
            color: #1997c6;
            background-color: transparent;
            border-color: #1997c6;
        }
        .btn {
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    .advanced-filter-box {
        padding: 10px 0px 10px 15px;
        margin-top: 5px;
        border-radius: 0px 0px 5px 5px;
        width: 580px;
        background: #e2eff5;
        @media (max-width: 768px) {
            width: 100%;
            padding: 10px;
        }
        &.hide-filter {
            display: none;
        }
        &.show-filter {
            display: block;
        }
    }
    .name-box {
        #filter-residentName {
            width: 175px;
        }
        display: inline-block;
        margin: 10px 20px;
        @media (max-width: 768px) {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
    .react-select-root-filter {
        width: 250px;
        display: inline-block;
        margin: 10px 20px;
    }
    .date-box {
        display: inline-block;
        width: 195px;
        &.trailing {
            width: 140px;
        }
        @media (max-width: 768px) {
            margin-bottom: 3px;
        }
    }
    .inner-splice {
        width: 12px;
        display: inline-block;
        text-align: center;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .filter-label {
        margin-right: 10px;
        font-size: 15.5px;
        font-weight: normal;
    }
    .checkbox {
        display: inline-block;
        margin-right: 10px;
        text-align: left;
        .custom-control-indicator {
            top: 3px;
        }
    }
    .input-group {
        display: inline-table;
        vertical-align: middle;
        input {
            width: 100px;
        }
    }
    .filter-button {
        font-size: 16px;
        font-weight: bold;
        div.filter-loader {
            margin-left: 10px;
            vertical-align: top;
            display: inline-block;
        }
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

.slider-container {
    margin: 10px;
    .filter-label {
        font-size: 18px;
    }
    h2 {
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        margin: 0px 5px 5px -5px;
    }
}

.slider-container-resident {
    margin: 25px auto;
    .rc-slider {
        margin-left: 0.25em;
        margin-top: 15px;
    }
    .rc-slider-track {
        background: #32a8dd !important;
    }
    .filter-label {
        font-size: 18px;
        font-weight: normal;
    }
    h2 {
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        margin: 0px 5px 5px 15px;
    }
}
