.filter-panel {

    &.smaller-wrapper {
        margin-bottom: -25px !important;
        margin-top: -15px !important;
        margin-left: 5%;
    }

    .root-box {
        border-radius: 5px;
        background: #e2eff5;
        @media (max-width: 768px) {
            width: 100%;
            padding: 10px;
        }
        width: 515px;

        &.smaller-box {
            width: 150px !important;
        }

        .date-filter-label {
            display: inline-block;
            margin: 15px;
            font-size: 15px;
        }
    }
    .button-box {
        display: inline-block;
        margin: 10px;
        @media (max-width: 768px) {
            margin: 10px;
        }
    }
    .filter-button-container {
        display: inline-block;
        .btn-primary-outline.active-button {
            color: #ffffff;
            background-color: steelblue;
            box-shadow: none;
        }
        .btn-primary-outline.not-active {
            color: steelblue;
            background-color: transparent;
            border-color: steelblue;
        }
        .btn {
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    .advanced-filter-box {
        padding: 10px 0px 10px 15px;
        border-radius: 0px 0px 5px 5px;
        width: 370px;
        background: #e2eff5;
        @media (max-width: 768px) {
            width: 100%;
            padding: 10px;
        }
        &.hide-filter {
            display: none;
        }
        &.show-filter {
            display: block;
            margin-top: 5px;
        }

        .custom-checkbox-label {
            padding-left: 4px;
            font-size: 14px;
        }
    }
    .name-box {
        #filter-residentName {
            width: 175px;
        }
        display: inline-block;
        margin: 10px 20px;
        @media (max-width: 768px) {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
    .react-select-root-filter {
        width: 250px;
        display: inline-block;
        margin: 10px 20px;

        input {
            min-height: inherit !important;
        }
    }
    .date-box {
        display: inline-block;
        width: 195px;
        &.trailing {
            width: 140px;
        }
        @media (max-width: 768px) {
            margin-bottom: 3px;
        }
    }
    .inner-splice {
        width: 12px;
        display: inline-block;
        text-align: center;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .filter-label {
        padding-left: 4px;
        font-size: 14px;
        font-weight: normal;
    }
    .checkbox {
        display: inline-block;
        margin-right: 10px;
        text-align: left;
        .custom-control-indicator {
            top: 3px;
        }
    }
    .input-group {
        display: inline-table;
        vertical-align: middle;
        input {
            width: 100px;
        }
    }
    .filter-button {
        .filter-loader {
            margin-left: 10px;
            display: inline-block;
            font-size: 18px;
        }
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

