.graph-panel-root {
    background: #1a1c22;
    padding: 20px;
    margin: 30px 30px 150px 30px;
    border-radius: 5px;
    // .panel-inner-root {
    //     margin-left: 20px;
    //     float: left;
    //     height: 500px;
    //     overflow-y: scroll;
    //     margin-bottom: 25px;
    //     // custom  styling for scroll bar from https://codepen.io/devstreak/pen/dMYgeO
    //     &::-webkit-scrollbar-track {
    //         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //         border-radius: 10px;
    //         background-color: #F5F5F5;
    //     }
    //     &::-webkit-scrollbar {
    //         width: 12px;
    //         background-color: #F5F5F5;
    //     }
    //     &::-webkit-scrollbar-thumb {
    //         border-radius: 10px;
    //         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    //         background-color: #D62929;
    //     }
    //     // end of styling for custom scroll bar 
    // }
    .graph-tooltip {
        position: absolute;
        width: 400px;
        background: #253b46;
        min-height: 200px;
        padding: 10px;
        font-size: 14px;
        border-radius: 12px;
        z-index: 100;
    }
    .title-root {
        .title-bar {
            text-align: center;
            font-weight: bold;
            display: inline-block;
        }
    }
    .inner-sub-root {
        .inner-epa-head {
            padding: 5px;
            cursor: pointer;
            margin: 15px 0px 0px 0;
            background: #252830;
            border-radius: 5px 5px 0px 0px;
            &.bottom-line {
                border-bottom: 2px solid #777373;
            }
            .icon {
                font-size: 22px;
                vertical-align: middle;
            }
            .epa-label {
                font-size: 18px;
                display: inline-block;
                font-family: sans-serif;
            }
        }
        .inner-graph-row {
            transition: height 750ms ease-in;
            margin-top: 0px;
            background: #252830;
            overflow: hidden;
            &.show-row {
                height: auto;
            }
            &.hide-row {
                height: 0px;
            }
            .inner-cell {
                display: inline-block;
                text-overflow: ellipsis;
                margin: 20px 0px;
                vertical-align: top;
                .inner-offset-label {
                    margin-left: 25px;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    display: inline-block;
                    font-family: sans-serif;
                }
                &.observation-cell {
                    margin: 25px 0px 20px 0px;
                    .observation-svg {
                        margin: 0px auto;
                        display: block;
                    }
                    .card-container {
                        margin: 5px 15px;
                        text-align: center;
                        .graph-card {
                            display: inline-block;
                            margin: 2px;
                            padding: 1%;
                            &.first-card {
                                .card-text {
                                    font-size: 45px;
                                    display: inline-block;
                                    margin-right: 7px;
                                }
                            }
                            .card-title {
                                display: block;
                                font-size: 14px;
                                font-family: sans-serif;
                                font-weight: bold;
                                &.recorded-title {
                                    color: steelblue
                                }
                                &.required-title {
                                    color: lightsteelblue
                                }
                                &.achieved-title {
                                    color: #b44646
                                }
                                &.remaining-title {
                                    color: #46b44a;
                                    display: inline-block;
                                    width: 20px;
                                    font-size: 14px;
                                }
                            }
                            .card-text {
                                display: block;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                &.score-cell {
                    margin: 25px 0px 20px 0px;
                    svg.score-svg {
                        margin: 0px auto;
                        display: block;
                        background: white;
                        .score-spark-line {
                            fill: none;
                            stroke: #1997c6;
                            stroke-width: 2px;
                        }
                        line.track-trails {
                            stroke-width: 0.5px;
                            stroke: #525765;
                        }
                        .score-point {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}