.graph-panel-root {
    padding: 20px;
    margin: 30px 30px 30px 30px;
    border-radius: 5px;
    @media (max-width: 768px) {
        margin-right: 10px;
        margin-left: 10px;
    }
    .panel-inner-root {
        margin: 0px auto;
        color: white;
    }
    .graph-tooltip {
        position: absolute;
        width: 400px;
        color: white;
        background: #253b46;
        min-height: 200px;
        padding: 10px;
        font-size: 14px;
        border-radius: 12px;
        z-index: 100;
        span {
            white-space: pre-wrap;
        }
    }
    .title-root {
        .title-bar {
            text-align: center;
            font-weight: bold;
            display: inline-block;
        }
    }
    .inner-sub-root {
        .inner-epa-head {
            padding: 5px;
            cursor: pointer;
            margin: 15px 0px 0px 0;
            background: #252830;
            border-radius: 5px 5px 0px 0px;
            &.bottom-line {
                border-bottom: 2px solid #777373;
            }
            .icon {
                font-size: 22px;
                vertical-align: middle;
            }
            .epa-label {
                font-size: 18px;
                display: inline-block;
                font-family: sans-serif;
                @media (max-width: 768px) {
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .epa-label-status {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 4px 15px;
                background: #283a5d;
                border-radius: 10px;
                margin-left: 15px;
                vertical-align: middle;
                text-align: center;
                color: white;
                .icon {
                    margin-left: 5px;
                    font-size: 20px;
                }
                @media (max-width: 768px) {
                    display: block;
                    margin-left: 0px;
                    padding: 0px;
                    margin: 5px 20px;
                }
            }
        }
        .inner-graph-row {
            margin-top: 0px;
            background: #252830;
            overflow: hidden;
            &.show-row {
                height: auto;
                overflow: visible;
            }
            &.hide-row {
                height: 0px;
            }
            .filter-box {
                margin: 10px auto 40px auto;
                border-radius: 5px;
                padding: 10px;
                text-align: left;
                display: inline-block;
                .inner-filter-box {
                    display: inline-block;
                    margin: 5px 15px;
                    .filter-label {
                        margin-right: 10px;
                        text-transform: uppercase;
                    }
                    .custom-select {
                        width: 200px;
                    }
                    .select-container-filter {
                        display: inline-block;
                        width: 250px;
                    }
                }
                .inner-button-box {
                    display: inline-block;
                    margin: 5px 5px;
                    .icon-container {
                        padding: 3px 10px;
                        font-weight: bold;
                        .icon-ccw {
                            font-size: 20px;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .inner-cell {
                display: inline-block;
                text-overflow: ellipsis;
                margin: 20px 0px;
                vertical-align: top;
                .plan-icon {
                    color: #4682b4;
                    border: 2px solid #4682b4;
                    font-size: 15px;
                    border-radius: 50px;
                    padding: 2px 4px;
                    cursor: pointer;
                    background: #25282f;
                    margin-left: 5px;
                    &.open-plan {
                        background: #25282f;
                    }
                }
                .assessment-plan-box {
                    margin-left: 25px;
                    margin-top: 10px;
                    font-size: 15px;
                    display: block;
                    font-family: sans-serif;
                    text-align: left;
                    background: #283a5d;
                    padding: 10px;
                    border-radius: 5px;
                    .assessment-plan-content {
                        white-space: pre-line;
                    }
                }
                .inner-offset-label {
                    margin-left: 25px;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    display: inline-block;
                    font-family: sans-serif;
                    @media (max-width: 768px) {
                        margin-left: 0px;
                    }
                }
                &.observation-cell {
                    margin: 25px 0px 20px 0px;
                    .observation-svg {
                        margin: 0px auto;
                        display: block;
                    }
                    .card-container {
                        margin: 5px 15px;
                        text-align: center;
                        .graph-card {
                            display: inline-block;
                            margin: 2px;
                            padding: 1%;
                            &.first-card {
                                .card-text {
                                    font-size: 45px;
                                    display: inline-block;
                                    margin-right: 7px;
                                }
                            }
                            .card-title {
                                display: block;
                                font-size: 14px;
                                font-family: sans-serif;
                                font-weight: bold;
                                &.recorded-title {
                                    color: steelblue;
                                }
                                &.required-title {
                                    color: lightsteelblue;
                                }
                                &.expired-title {
                                    color: #b44646;
                                }
                                &.remaining-title {
                                    color: #46b44a;
                                    display: inline-block;
                                    width: 20px;
                                    font-size: 14px;
                                }
                            }
                            .card-text {
                                display: block;
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                &.score-cell {
                    margin: 25px 0px 20px 0px;
                    position: relative;
                    .icon {
                        position: absolute;
                        font-size: 15px;
                        border-radius: 50px;
                        padding: 0px 4px;
                        cursor: pointer;
                        background: white;
                        &.table-icon {
                            top: 145px;
                            left: 20px;
                            color: #426a8c;
                            border: 2px solid #426a8c;
                            &.open-table {
                                background: #426a8c;
                                color: white;
                            }
                        }
                        &.filter-icon {
                            top: 145px;
                            left: 55px;
                            color: #426a8c;
                            border: 2px solid #426a8c;
                            &.open-filter {
                                background: #426a8c;
                                color: white;
                            }
                        }
                    }
                    svg.score-svg {
                        margin: 0px auto;
                        display: block;
                        background: white;
                        .score-spark-line {
                            fill: none;
                            stroke: steelblue;
                            stroke-width: 2px;
                        }
                        .score-point {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
