.info-panel {
    background: #1a1c22;
    margin: 30px 30px 20px 30px;
    border-radius: 5px;
    .info-panel-inner {
        margin: 20px;
        padding: 20px;
        .titular-block {
            text-align: center;
            span {
                display: inline-block;
                margin: 10px;
                text-transform: uppercase;
                font-size: 17px;
                @media (max-width: 768px) {
                    font-size: 13px;
                }
            }
        }
        .epaSpeedBox {
            .statcard {
                min-height: 120px;
            }
        }
        .hr-divider {
            h4 {
                padding: 10px;
                margin-top: 12px;
                font-size: 15px;
                color: #cfd2da;
            }
        }
        .schedule-box {
            margin-bottom: 20px;
            height: 150px;
            span.yearBox {
                display: inline-block;
                text-align: center;
                padding: 4px 0;
                border: 1px solid;
                border-color: #1a1c22;
                background: #2f323a;
            }
            .custom-gannt-style-chart {
                margin: 5px auto;
                position: relative;
                .chart-line {
                    background: #283a5d;
                    border-radius: 30px;
                    display: block;
                    position: absolute;
                    top: 35px;
                    height: 28px;
                    margin: 10px 0px;
                    color: white;
                    padding-top: 3px;
                    font-weight: 500;
                }
            }
        }
    }
}