.info-panel {
    background: #1a1c22;
    margin: 30px 30px 20px 30px;
    border-radius: 5px;
    @media (max-width: 768px) {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .info-panel-inner {
        margin: 20px;
        padding: 20px;
        .titular-block {
            text-align: center;
            span {
                display: inline-block;
                margin: 10px;
                text-transform: uppercase;
                font-size: 17px;
                @media (max-width: 768px) {
                    font-size: 13px;
                }
            }
        }
        .epaSpeedBox {
            .statcard {
                min-height: 132px;
            }
        }
        .hr-divider {
            margin: 20px 30px;
            h4 {
                padding: 10px;
                margin-top: 12px;
                font-size: 15px;
                color: #cfd2da;
            }
        }
        .schedule-box {
            margin-bottom: 20px;
            span.yearBox {
                display: inline-block;
                text-align: center;
                padding: 4px 0;
                border: 1px solid;
                border-color: #1a1c22;
                background: #2f323a;
            }
            .custom-gannt-style-chart {
                margin: 5px auto;
                position: relative;
                height: 75px;
                .chart-line {
                    background: #283a5d;
                    border-radius: 30px;
                    display: block;
                    position: absolute;
                    top: 35px;
                    height: 28px;
                    margin: 10px 0px;
                    color: white;
                    padding-top: 3px;
                    font-weight: 500;
                    &.between-lot {
                        background: #bf6c07;
                    }
                }
            }
            .chart-line-long {
                background: #18634a;
                border-radius: 30px;
                display: block;
                height: 28px;
                margin: 15px auto;
                color: white;
                padding-top: 3px;
                font-weight: 500;
            }
        }
        .cite-exam-score-container {
            display: inline-block;
            .hr-divider {
                margin-top: 0px;
            }
            .cite-svg {
                margin: 0px auto;
                background: white;
                .score-spark-line {
                    fill: none;
                    stroke: #4682b4;
                    stroke-width: 3;
                }
                .cite-score-point {
                    fill: #1ca8dd;
                }
                .cite-score-text {
                    fill: white;
                    font-weight: bold;
                    font-family: sans-serif;
                }
                .no-data-banner {
                    fill: #1ca8dd;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        .recent-epa-container {
            display: inline-block;
            margin-left: 15px;
            position: relative;
            .hr-divider {
                margin-top: 0px;
            }
            .recent-range-selection {
                position: absolute;
                right: 0px;
                top: 38px;
                .filter-label,
                #recent-resident-data {
                    margin-right: 10px;
                }
                .btn {
                    padding: 3px 7px;
                    margin-right: 5px;
                }
            }
            .recent-svg {
                margin: 0px auto;
                background: white;
                .score-spark-line {
                    fill: none;
                    stroke: #1997c6;
                    stroke-width: 2px;
                }
                .score-point {
                    cursor: pointer;
                }
            }
            .no-data-banner {
                fill: #1ca8dd;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}