#app-container>.navbar {
    a {
        font-weight: bold;
        text-transform: uppercase;
    }
    .paws-icon {
        display: inline-block;
        width: 55px;
        height: 19px;
        background-size: 100%;
        margin-right: 10px;
        vertical-align: top;
        &+span {
            font-size: 15px;
        }
    }
    #navbar span.icon {
        padding: 4px 5px;
        border: 3px solid #cfd2da;
        margin-right: 10px;
        border-radius: 35px;
    }
    .navbar-brand-icon {
        margin-top: -6px;
        padding: 3px 5px;
        border: 3px solid #cfd2da;
        margin-right: 10px;
        border-radius: 35px;
    }
    .navbar-nav {
        margin: 0px;
        padding: 0px 2px;
    }
}