.statcard {
    span.statcard-inner {
        color: rgba(255, 255, 255, 0.65);
        font-size: 45%;
        text-transform: uppercase;
        vertical-align: middle;
        margin: 0px 10px;
    }
    .statcard-number {
        margin: 10px 5px;
    }
}

.micro-stat {
    width: 160px;
    margin: 10px;
    display: inline-block;
}