.tooltip-wrapper {
    .tooltip-anchor {
        font-size: 18px !important;
        vertical-align: middle;
        cursor: pointer;
        background: white;
        border-radius: 20px;
        margin: 0px 5px;
        padding: 1px 2px 0px 2px !important;
        color: #4e79a7 !important;

        &.small {
            padding: 0px 2px !important;
            background: none;
            margin: 0px 0px 0px -4px;
            color: inherit !important;
            &.icon {
                color: white !important;
                font-size: inherit !important;
            }
        }
        .icon {
            vertical-align: initial !important;

            &:before {
                top: 2.5px;
            }
        }
    }
    // make sure no capitilization occurs if the tooltip is
    // placed inside a header component
    // text-transform:none;
    // .custom-tooltip {
    //     max-width: 500px;
    //     z-index: 1000;
    //     p {
    //         line-height: 1.45em;
    //     }
    // }
}
