.tooltip-wrapper {
    .tooltip-anchor {
        padding: 0px 5px;
    }
    // make sure no capitilization occurs if the tooltip is
    // placed inside a header component
    text-transform:none;
    .custom-tooltip {
        max-width: 500px;
        z-index: 1000;
        p {
            line-height: 1.45em;
        }
    }
}