.tooltip-wrapper {
    .tooltip-anchor {
        font-size: 18px !important;
        vertical-align: middle;
        cursor: pointer;
        background: white;
        border-radius: 20px;
        margin: 0px 5px;
        padding: 1px 2px 0px 2px !important;
        color: #4e79a7 !important;
        .fa {
            vertical-align: initial !important;
        }
    }
}