    // filter panel related styling
    .faculty-filter {
        .react-select-root {
            width: 375px;
            display: inline-block;
            .filter-label {
                &+div {
                    display: inline-block !important;
                    width: 250px;
                    z-index: 20;
                }
            }
        }
        .date-box {
            display: inline-block;
            width: 235px;
        }
        .advanced-filter-box {
            display: inline-block;
            width: inherit;
            padding: 10px 10px 10px 15px;
        }
    }