    // filter panel related styling
    .faculty-filter {
        .react-select-root {
            width: 375px;
            display: inline-block;
            &>div {
                text-transform: capitalize;
            }
            .filter-label {
                &+div {
                    display: inline-block !important;
                    width: 250px;
                    z-index: 20;
                }
            }
        }
        .date-box {
            display: inline-block;
            width: 235px;
        }
        .advanced-filter-box {
            display: inline-block;
            width: inherit;
            padding: 10px 10px 10px 15px;
        }
    }
    
    .ug-student-dashboard {
        .graph-panel-root {
            .title-root {
                background: #25282f;
                padding: 7.5px 7.5px;
                margin-bottom: 20px;
            }
            .inner-graph-row {
                background: inherit !important;
                .inner-cell {
                    vertical-align: middle !important;
                }
            }
        }
        .inner-offset-label {
            font-size: 17.5px !important;
        }
        .card-container {
            .chart-wrapper {
                position: relative;
                width: 150px;
                display: inline-block;
                .graph-card {
                    position: absolute;
                    top: 36px;
                    left: 20px;
                    width: 100px;
                }
            }
        }
        .icon.table-icon {
            top: 126px !important;
            left: 20px!important;
        }
        .filter-box-sub {
            margin: 0px 4% 0px 20px;
            vertical-align: top;
            float: right;
            .filter-box-sub-inner {
                margin-bottom: 20px;
                h4 {
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: bolder;
                    color: #32a8dd;
                }
                .sub-group-filter {
                    display: inline-block;
                    margin: 0px 5px;
                    padding: 5px 5px;
                    border-radius: 5px;
                    font-size: 15px;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        background: #2c86af;
                    }
                }
            }
        }
    }