// filter panel related styling
.faculty-filter {
    .react-select-root {
        width: 375px;
        display: inline-block;
        & > div {
            text-transform: capitalize;
        }
        .filter-label {
            & + div {
                display: inline-block !important;
                width: 250px;
                z-index: 20;
            }
        }
    }
    .date-box {
        display: inline-block;
        width: 235px;
    }
    .advanced-filter-box {
        display: inline-block;
        width: inherit;
        padding: 10px 10px 10px 15px;
    }
}

.ug-student-dashboard {
    .supervisor-line-chart {
        margin: 5px auto;
        display: block;
        background: #1a1c22;
        border-radius: 5px;
        .hoverable-rectangle {
            cursor: pointer;
            &:hover {
                fill: #1ca8dd;
                opacity: 0.25;
            }
        }
    }
    .graph-panel-root {
        .title-root {
            background: #25282f;
            padding: 7.5px 7.5px;
            margin-bottom: 20px;
        }
        .inner-graph-row {
            background: inherit !important;
            .inner-cell {
                vertical-align: middle !important;
            }
        }
    }
    .inner-offset-label {
        font-size: 17.5px !important;
    }
    .card-container {
        .chart-wrapper {
            position: relative;
            width: 150px;
            display: inline-block;
            .graph-card {
                position: absolute;
                top: 36px;
                left: 20px;
                width: 100px;
            }
        }
    }
    .icon.table-icon {
        top: 126px !important;
        left: 20px !important;
    }
    .filter-box-sub {
        margin: 0px 5% 0px 10%;
        vertical-align: top;
        display: inline-block;
        .filter-box-sub-inner {
            margin-bottom: 20px;
            h4 {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bolder;
                color: #32a8dd;
            }
            .sub-group-filter {
                display: inline-block;
                margin: 0px 5px;
                padding: 5px 5px;
                border-radius: 5px;
                font-size: 15px;
                cursor: pointer;
                &.active,
                &:hover {
                    background: #2c86af;
                }
            }
        }
    }
    .ug-normative-container {
        margin: 30px 0px;
        text-align: center;
        .custom-checkbox {
            width: 225px;
            margin: -5px 30px 0px 30px;
            background: #1a1c22;
            padding: 10px;
            font-size: 15px;
            border-radius: 10px;
        }
        .custom-control-indicator {
            top: 11px;
            left: 15px;
        }
    }
}
